<h1>
  <i class="fa fa-twitter"></i> Create a New Tweet
</h1>

<hr>

<form role="form" action="/create/tweet/<%= @username %>" method="post">
  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" name="message">

    </textarea>
  </div>
  <button type="submit" class="btn btn-primary" style="width: 100%;">
    <i class="fa fa-twitter"></i> Tweet!
  </button>
</form>