.tweet {
    margin-bottom: 3rem;
    border: 1px solid black;
    border-radius: 8px;
}

.tweet-body {
    padding: 1rem;
}

.tweet-header {
    padding: 1rem;
    border-bottom: 1px solid black;
    font-weight: bold;
    background-color: #428bca;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.tweet-footer {
    padding: 0.5rem;
    font-size: 10px;
    border-top: 1px solid black;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #428bca;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}