<h1>
  <i class="fa fa-twitter"></i> R3Twitter
  <br>
  <small>
    Ruby, Rails, Redis
  </small>
</h1>

<hr style="margin-top: 0;">

<!-- Display error messages, if any. -->
<div class="row">
  <% flash.each do |key, value| %>
    <% if key == 'error' %>
      <div class="alert alert-danger">
        <strong>Error:</strong> <%= value.html_safe %>
      </div>
    <% else %>
      <div class="alert alert-success">
        <strong>Error:</strong> <%= value.html_safe %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">

  <!-- Login panel. -->
  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-key"></i> Login
      </div>
      <div class="panel-body">
        <%= render 'login' %>
      </div>
    </div>
  </div>

  <!-- Spacer. -->
  <div class="col-xs-12 col-lg-4 text-center">
    <h1>
      OR
    </h1>
    <br>
    <br>
  </div>

  <!-- Registration Panel. -->
  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-magic"></i> Create a New Account
      </div>
      <div class="panel-body">
        <%= render 'register' %>
      </div>
    </div>
  </div>

</div>

<hr>